body{
    background-color: rgb(234, 225, 225);
}
form{
    width: 355px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
input,select{
    width:80%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

}
label{
    font-weight:bold;
}
